<?php echo $header; ?>
<!-- ..................................................................... START ALL PAGE -->
<div class="all_page HOME_PAGE">
<div id="notification"></div>
<?php echo $content_top; ?><?php echo $column_left; ?><?php echo $column_right; ?>
<!-- START COLUMN CENTER ..................................................................... -->
<div id="content" class="column-center">
<?php echo $content_bottom; ?>
</div>
<!-- END COLUMN CENTER ..................................................................... -->
</div>
<!-- ..................................................................... END ALL PAGE -->
<?php echo $footer; ?>