<?php echo $header; ?>
<!-- ..................................................................... START ALL PAGE -->
<div class="all_page MAINTENANCE_PAGE">
<div id="notification"></div>
<!-- START COLUMN CENTER ..................................................................... -->
<div id="content" class="column-center">
    <?php echo $message; ?>
</div>
<!-- END COLUMN CENTER ..................................................................... -->
</div>
<!-- ..................................................................... END ALL PAGE -->
<?php echo $footer; ?>