<!-- START GENERAL BOX - Google Talk -->
<div class="box">
  <div class="box-heading"><strong class="title"><?php echo $heading_title; ?></strong></div>
  <div class="box-content" style="text-align:center;"><?php echo $code; ?></div>
</div>
<!-- END GENERAL BOX - Google Talk -->