/********** All the elements that contain the attribute color:#839D57; **********/
a, .hbottom .currency a:hover, .hbottom .currency a b, .welcome_message .title, .box-product .div h3 a:hover, .box-category > ul > li a.active, .grid-sm h3 a:hover, .left_zone_panel .no_price p a:hover, .right_zone_panel .description p a:hover, .product-list .panel_info .name h3 a:hover, .product-grid .name h3 a:hover, .jbmenu .jbcontent ul li a.active, .box_account .ptitle, .box_account .box_actions .link_right:hover, .CONTACT_PAGE h5, .compare-info .title a:hover, table.radio tr.highlight:hover td, .htop .cart .mini-cart-info p a:hover, .htop .cart .mini-cart-info .status b, .cart_vouchers .title_vouchers, .tab-attribute .group, .theme-default .nivo-controlNav .nivo-control.active, .footer .top_footer .title {
	color:#839D57;
}

/********** All the elements that contain the attribute background-color:#839D57; **********/
.hmenu .menu, .jbmenu .jbtitle, .hmenu .menu > ul > li:hover > a, .box .box-heading, .jcarousel-skin-sos .jcarousel-next-horizontal:hover, .jcarousel-skin-sos .jcarousel-prev-horizontal:hover, .htop .cart .heading p a, .display .sqactive a, .jcarousel-skin-image-additional .jcarousel-next-vertical, .jcarousel-skin-image-additional .jcarousel-prev-vertical, .jcarousel-skin-related .jcarousel-next-vertical:hover, .jcarousel-skin-related .jcarousel-prev-vertical:hover, .jbmenu .jbcontent .jbchildren, .jcarousel-skin-latest .jcarousel-next-horizontal:hover, .jcarousel-skin-latest .jcarousel-prev-horizontal:hover, .compare-info .title-compare td, .all_options .title_all_options, .theme-default .nivo-thumbs-enabled .sos-control-thumbs .sos-thumbs.active, .theme-default .nivo-thumbs-enabled .sos-control-thumbs .sos-thumbs.active:hover, .footer .top_footer .contact_us .icon {
	background-color:#839D57;
}

/********** All the elements that contain the attribute border-top-color:#839D57; **********/
.hbottom .links, .footer {
	border-top-color:#839D57;
}

/********** All the elements that contain the attribute border-bottom-color:#839D57; **********/
.hmenu .menu > ul > li > div, .footer .space .column i {
	border-bottom-color:#839D57;
}

/********** All the elements that contain the attribute border-left-color:#839D57; **********/
.box .box-content > ul > li:hover {
	border-left-color:#839D57;
}

/********** Main menu **********/
.hmenu .menu, .jbmenu .jbtitle {
	/*border:1px solid #a0b322;
	-webkit-box-shadow:inset 0 1px 0 0 #d3eb63;
	box-shadow:inset 0 1px 0 0 #d3eb63;*/
}
.hmenu .menu > ul > li > a, .jbmenu .jbtitle a, .htop .mini_shopping_cart {
	color:#FFF;
	/*text-shadow:1px 1px 0 #d9ed52;*/
}
.hmenu .menu > ul > li:hover > a {
	color:#252525;
	text-shadow:1px 1px 0 #d9ed52;
	-webkit-box-shadow:inset 1px 1px 0 0 #a0b322;
	box-shadow:inset 1px 1px 0 0 #a0b322;
}