/*
Author: 0808web
Supports Thumbs: true
*/

.theme-default .nivoSlider { position:relative; background:#fff url('img/wait.gif') no-repeat 50% 50%;}
.theme-default .nivoSlider img { position:absolute; top:0px; left:0px; display:none;}
.theme-default .nivoSlider a { border:0; display:block;}

/* Left/Right arrow */
.theme-default .nivo-directionNav a { width:42px; height:41px; background-image:url('img/nivo-slider-arrows.png'); background-repeat:no-repeat; background-color:transparent; opacity:0; filter:alpha(opacity=0); text-indent:-99999px;}
.theme-default:hover .nivo-directionNav a { opacity:0.6; filter:alpha(opacity=60);}
.theme-default .nivo-directionNav a:hover { opacity:1.0; filter:alpha(opacity=100);}
.theme-default a.nivo-nextNav { right:15px; background-position:left bottom;}
.theme-default a.nivo-prevNav { left:15px; background-position:left top;}

/* Bullet skin */
.theme-default .nivo-controlNav { text-align:center;}
.theme-default .nivo-controlNav .nivo-control { font-weight:bold; display:inline-block; font-size:18px; padding:2px; color:#707070;}
.theme-default .nivo-controlNav .nivo-control:hover { color:#434343;}

/* Thumb skin */
.theme-default .nivo-thumbs-enabled { text-align:center; width:100%;}
.theme-default .nivo-thumbs-enabled .sos-control-thumbs { display:inline-block; width:35px; height:5px; margin:0 2px;}
.theme-default .nivo-thumbs-enabled .sos-control-thumbs .sos-thumbs { float:left; width:35px; height:5px; background:#707070; position:relative;}
.theme-default .nivo-thumbs-enabled .sos-control-thumbs .sos-thumbs img { display:none; position:absolute; width:200px; height:auto; top:12px; right:50%; margin:0 -105px 0 0; z-index:999; border:5px solid #fff; -webkit-box-shadow:0 0 3px 1px #707070; box-shadow:0 0 3px 1px #707070;}
.theme-default .nivo-thumbs-enabled .sos-control-thumbs .sos-thumbs:hover { background:#434343;}
.theme-default .nivo-thumbs-enabled .sos-control-thumbs .sos-thumbs:hover img { display:block;}