@media screen and (min-width:767px) and (max-width:1023px) {
	/* NO DISPLAY */
	.product-filter .limit, .pagination > .links + .results, .box_search_criteria span, .column-left + .column-right + .column-center > .product-filter .product-compare { display:none;}

	/* LAYOUT */
	.container { min-width:730px; width:730px;}
	.column-left { float:left; width:200px;}
	.column-right { float:right; width:200px;}
	.column-left + .column-right + .column-center, .column-left + .column-center { margin-left:210px;}
	.column-right + .column-center { margin-right:210px;}
	
	/* HEADER */
	.htop .cart { width:290px; padding:15px 10px 0 20px;}
	.htop .cart .heading { background-position:245px center;}
	.header .htop .hleft { margin:0 342px 0 0;}
	.welcome { text-align:left;}
	.search { position:absolute; right:0; top:54px; padding:6px 0 6px 0;}

	/* ALL GENERAL ELEMENTS */
	.content-top .box-sbr .small { margin:5px 0; width:100%;}
	.content-top .box-product .div { margin:5px 0; width:49%;}
	.content-top .box-product .div .cart { width:90%; margin:0 5% 10px 5%;}
	.column-center .box-sbr .small { margin:5px 0; width:100%;}
	.column-center .box-product .div { margin:5px 0; width:49%;}
	.column-center .box-product .div .cart { width:90%; margin:0 5% 10px 5%;}
	.column-left + .column-right + .column-center .box-product .div { margin:5px 0; width:100%;}
	.column-left + .column-right + .column-center .box-product .div .cart { width:90%; margin:0 5% 10px 5%;}
	.column-right + .column-center .box-product .div { width:243px;}
	.column-left + .column-center .box-product .div { width:237px;}

	/* CATEGORY PAGE */
	.column-right + .column-center > .product-grid > div { width:233px;}
	.column-right + .column-center > .product-grid .content_info:hover .panel_info { width:233px;}
	.column-left + .column-right + .column-center > .product-grid > div { width:135px; height:265px; min-height:265px;}
	.column-left + .column-right + .column-center > .product-grid .image { width:118px; height:118px;}
	.column-left + .column-right + .column-center > .product-grid .image img { width:118px; height:118px;}
	.column-left + .column-right + .column-center > .product-grid .small_image { display:none;}
	.column-left + .column-right + .column-center > .product-grid .panel_info .cart { margin:0 0 5px 10px;}
	.column-left + .column-right + .column-center > .product-grid .content_info { top:65px;}
	.column-left + .column-right + .column-center > .product-grid .content_info:hover .panel_info { width:135px;}
	.column-left + .column-center > .product-list .panel_info, .column-right + .column-center > .product-list .panel_info { margin:0 80px 0 160px;}
	.column-left + .column-center > .product-list .panel_info .cart, .column-right + .column-center > .product-list .panel_info .cart { right:-70px;}
	.column-left + .column-center > .product-list .image, .column-right + .column-center > .product-list .image { width:80px; height:80px;}
	.column-left + .column-center > .product-list .image img, .column-right + .column-center > .product-list .image img { width:80px; height:80px;}
	.column-left + .column-right + .column-center > .product-list > div { height:400px;}
	.column-left + .column-right + .column-center > .product-list .image { width:135px; height:135px;}
	.column-left + .column-right + .column-center > .product-list .image img { width:135px; height:135px;}
	.column-left + .column-right + .column-center > .product-list .panel_info { margin:0 0 0 10px; padding:0; height:200px;}
	.column-left + .column-right + .column-center > .product-list .panel_info .cart { right:auto; left:0;}
	.column-left + .column-right + .column-center > .product-list .panel { width:160px; margin:0 -50px 0 0;}
	.column-left + .column-center > .category-list > ul, .column-right + .column-center > .category-list > ul { width:29%;}
	.column-left + .column-right + .column-center > .category-list > ul { width:93%;}
	
	/* PRODUCT PAGE */
	#content > .left_bottom_panel { float:none; width:auto;}
	#content > .bottom_panel .show_view_review + .left_bottom_panel { float:none; width:auto;}
	#content > .bottom_panel > .right_bottom_panel { margin:10px 0 10px 0;}
	#content > .top_panel { margin:0 0 10px 0; position:relative;}
	#content > .top_panel .left { overflow:auto; margin:0; width:100%;}
	.top_panel .right { margin:0 -201px 0 0; position:relative; right:50%;}
	.column-left + .column-right + .column-center > .top_panel .right { width:284px; background:red; margin:0 -142px 0 0; position:relative; right:50%;}
	.column-left + .column-right + .column-center > .top_panel .right .image { padding:5px; width:274px;}
	.column-left + .column-right + .column-center > .top_panel .right .image img { max-width:274px;}
	.column-left + .column-right + .column-center > .top_panel .right .share { display:none;}
	.column-left + .column-right + .column-center > .top_panel .right #image-additional { display:none;}
	#content > .top_panel .right .view_zoom_right { display:none;}
	#content > .top_panel .right .view_zoom_inside { display:block;}
	#content > .top_panel h1 { text-align:center;}
	.PRODUCT_PAGE #content > .breadcrumb { margin:0 0 10px 0;}
	.left_zone_panel { float:none; width:auto; min-height:110px;}
	.left_zone_panel .price .price-old .red_icon { right:5px; bottom:5px;}
	.right_zone_panel { margin:10px 0 0 0; min-height:10px; padding:0;}
	.right_zone_panel .description { margin:10px 0 0 0; position:relative;}
	.right_zone_panel .description p { padding:0;}
	.left_bottom_panel .space_content_tab .right_space { display:none;}
	#content .left_bottom_panel .space_content_tab .left_space { margin:0 0 10px 0;}
	.review-list p { background:none; padding:0;}
	.column-left + .column-right + .column-center .left_bottom_panel .tabs { height:24px;}
	.column-left + .column-right + .column-center .left_bottom_panel .tabs a { height:23px; line-height:23px; padding:0 5px;}
	.column-left + .column-right + .column-center .left_bottom_panel .tabs .selected {height:24px;}

	/* BRAND PAGE, SPECIAL PAGE, SEARCH PAGE */
	.column-left + .column-center > .product-grid-sm .grid-sm, .column-right + .column-center > .product-grid-sm .grid-sm { width:100%; margin:0 10px 0 0;}
	.product-grid-sm .grid-sm { width:343px;}
	.manufacturer-list { margin:0 0 10px 0; width:100%;}
	.BRAND_PAGE .column-left + .column-right + .column-center > .product-filter, .SPECIAL_PAGE .column-left + .column-right + .column-center > .product-filter, .SEARCH_PAGE .column-left + .column-right + .column-center > .product-filter { text-align:center;}
	.BRAND_PAGE .column-left + .column-right + .column-center > .product-filter .sort, .SPECIAL_PAGE .column-left + .column-right + .column-center > .product-filter .sort, .SEARCH_PAGE .column-left + .column-right + .column-center > .product-filter .sort { float:none;}

	/* SHOPPING CART */
	.cart_left { float:none; width:auto;}
	.cart_header { margin:0 0 5px 0; border:1px solid #e5e5e5; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -ms-border-radius:5px; border-radius:5px;}
	.cart_right { margin:0 0 10px 0; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -ms-border-radius:5px; border-radius:5px;}
	#content .cart_right .box_input .error { background-position:center top; padding:7px 0 0 0; margin:3px 0 0 0; display:block;}

	/* FOOTER */
	.footer .top_footer .contact_us { width:250px;}
	.footer .top_footer .about_us { width:460px;}
	.footer .space .column { width:173px;}
	
	/*******************************************************/
	/* START UPDATE JANUARY 2013 */
	/*******************************************************/
	/* HEADER */
	.search input[type="text"] { width:75px;}
	.search input[type="text"]:focus { width:200px;}
	/*******************************************************/
	/* FINISH UPDATE JANUARY 2013 */
	/*******************************************************/
}

@media screen and (max-width:766px) {
	/* NO DISPLAY */
	.column-left, .column-right, .header .hmenu, .hbottom .links, .htop .cart, .product-filter .product-compare, .product-filter .limit, .pagination > .links + .results, .product-grid .content_info, .box_search_criteria span { display:none;}
	
	/* YES DISPLAY */
	#jbmenu { display:block;}
	
	/* LAYOUT */
	.container { min-width:320px; width:100%;}
	.all_page { background:#fff; min-height:10px; padding:0 10px;  overflow:auto; border:none; -moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0; -ms-border-radius:0; border-radius:0;}
	.column-left + .column-right + .column-center, .column-left + .column-center { margin-left:0;}
	.column-right + .column-center { margin-right:0;}
	
	/* HEADER */
	.header { margin:0; border:none; -moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0; -ms-border-radius:0; border-radius:0;}
	.header .htop { padding:0; position:relative;}
	.header .htop .hleft { margin:0;}
	.logo { margin:20px 0; text-align:center;}
	.logo img { max-width:100%;}
	.hbottom .language { float:left;}
	.hbottom .currency { border-left:none;}
	.welcome { text-align:center; padding:0 0 5px 0;}
	.welcome p { padding:0; font-size:10px;}
	.welcome .login, .welcome .user { background-image:none;} 
	.search { position:relative; right:auto; top:auto; width:150px; left:50%; margin:0 0 0 -75px;}
	.search input[type="text"] { width:100px;}
	.htop .mini_shopping_cart { display:block;}

	/* ALL GENERAL ELEMENTS */
	h1 { font-size:18px;}
	.icon_h { padding:7px 0 7px 35px;}
	#container .column-center .box-sbr .small { margin:5px 0; width:100%;}
	#container .box-product .div { margin:5px 0; width:100%;}
	#container .box-product .div h3 a { font-size:16px; display:block;}
	#container .box-product .div .cart { width:90%; margin:0 5% 10px 5%;}
	
	/* ALL ACCOUNT */
	.ACCOUNT_LOGIN .left { float:none; width:auto;}
	.ACCOUNT_LOGIN .right { margin:0;}
	#content .new_customer { margin:10px 0 0 0;}
	#content .new_customer .bottom .le { width:190px;}
	#content .new_customer .bottom .le label { display:block; width:90%;}
	#content .new_customer .bottom .ri { padding:15px 0 0 0;}
	#content .box_account { width:100%;}
	#content .box_input .error { background-image:url('img/red_top.png'); display:block;}
	#content .checkout-content .left-checkout-content { width:100%;}
	#content .checkout-content .right-checkout-content { width:100%;}
	#content .checkout-product { padding:0;}
	#content .checkout-product thead tr { font-size:11px;}
	#content .checkout-product thead td { font-weight:normal;}
	#content .checkout-product tbody .model, #content .checkout-product thead .model { display:none;}
	#content table.list td { padding:5px 2px; font-size:11px; font-weight:normal;}
	
	/* CATEGORY PAGE */
	.category-info .image { margin:0; width:100%; text-align:center;}
	.category-info .image img { max-width:100%;}
	.category-list > ul { padding:2px 0; margin:0 10px; float:none; width:auto; border-bottom:1px dashed #979797;}
	.category-list > ul:last-child {border-bottom:none;}
	.category-list > ul > li > a { display:block;}
	#content .product-grid > div { width:145px; min-height:145px;}
	#content .product-grid .image { width:130px; height:130px;}
	#content .product-grid .image img {width:130px; height:130px;}
	#content .product-grid .name h3 a { display:block;}
	#content .product-grid .price { font-size:14px;}
	#content .product-grid .price .price-old { font-size:12px;}
	#content .product-list > div { height:400px;}
	#content .product-list .image { width:135px; height:135px;}
	#content .product-list .image img { width:135px; height:135px;}
	#content .product-list .panel_info { float:left; margin:0 0 0 10px; padding:0; width:94%;}
	#content .product-list .panel_info .cart { right:auto; left:0;}
	#content .product-list .panel { width:160px; margin:0 -50px 0 0}
	
	/* PRODUCT PAGE */
	#content > .left_bottom_panel { float:none; width:auto;}
	#content > .bottom_panel .show_view_review + .left_bottom_panel { float:none; width:auto;}
	#content > .bottom_panel > .right_bottom_panel { margin:10px 0 10px 0;}
	#content > .top_panel { margin:0 0 10px 0; position:relative;}
	#content > .top_panel .left { overflow:auto; margin:0; width:100%;}
	#content > .top_panel .right { width:300px; position:relative; right:50%; margin:0 -150px 10px 0;}
	.top_panel .right .image { padding:5px; width:220px;}
	.top_panel .right .image img { max-width:220px;}
	.top_panel .right .image .mini-reviews { bottom:5px; left:5px; right:5px; top:auto;}
	.top_panel .right .image .mini-reviews .write { text-indent:-9999px;}
	.top_panel .right .zoom_but { left:5px; bottom:54px; right:auto;}
	.top_panel .right .share { position:absolute; margin:0; right:68px; top:236px; z-index:1099;}
	.top_panel .right .image-additional { float:right; margin:0; width:63px;}
	.jcarousel-skin-image-additional .jcarousel-container-vertical { width:63px; height:212px;}
	.jcarousel-skin-image-additional .jcarousel-clip-vertical { width:63px; height:212px;}
	.jcarousel-skin-image-additional .jcarousel-item { width:63px;}
	.top_panel .right .image-additional .space { height:51px; width:51px;}
	.top_panel .right .image-additional .space img { height:51px; width:51px;}
	#content > .top_panel .right .view_zoom_right { display:none;}
	#content > .top_panel .right .view_zoom_inside { display:block;}
	#content > .top_panel h1 { text-align:center;}
	.PRODUCT_PAGE #content > .breadcrumb { margin:0 0 10px 0;}
	.left_zone_panel { float:none; width:auto; min-height:110px;}
	.left_zone_panel .price .price-old .red_icon { right:5px; bottom:5px;}
	.right_zone_panel { margin:10px 0 0 0; min-height:10px; padding:0;}
	.right_zone_panel .description { margin:10px 0 0 0; position:relative;}
	.right_zone_panel .description p { padding:0;}
	.left_bottom_panel .space_content_tab .right_space { display:none;}
	#content .left_bottom_panel .space_content_tab .left_space { margin:0 0 10px 0;}
	.review-list p { background:none; padding:0;}
	.left_bottom_panel .tabs { height:28px;}
	.left_bottom_panel .tabs a { height:27px; line-height:27px; padding:0 7px;}
	.left_bottom_panel .tabs .selected { height:28px;}
	
	/* SHOPPING CART */
	.cart_left { float:none; width:auto;}
	.cart_header { margin:0 0 5px 0; border:1px solid #e5e5e5; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -ms-border-radius:5px; border-radius:5px;}
	.cart_header .image { text-align:left; left:10px;}
	.cart_header .total { top:-7px;}
	.cart_header .unit_price { font-size:11px; right:10px; top:21px; font-weight:normal; height:14px; line-height:14px; min-width:10px;}
	.cart_content { margin:0 0 10px 0; padding:5px 0;}
	.cart_content .image { width:50px; height:50px;}
	.cart_content .image img { width:50px; height:50px;}
	.cart_content .quantity { margin:5px 0 0 0; position:relative; padding:5px 0 0 0;}
	.cart_content .quantity .content { width:auto; padding:5px 30px 6px 5px;}
	.cart_content .total { top:3px; font-size:14px;}
	.cart_content .unit_price { right:10px; min-width:10px; top:24px; font-size:10px;}
	.cart_content .product { max-width:155px;}
	.cart_content .product a { font-size:12px;}
	.cart_right { margin:0 0 10px 0; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -ms-border-radius:5px; border-radius:5px;}
	#content .cart_right .box_input .error { background-position:center top; padding:7px 0 0 0; margin:3px 0 0 0;}
	
	/* BRAND PAGE, SPECIAL PAGE, SEARCH PAGE */
	.BRAND_PAGE .product-filter, .SPECIAL_PAGE .product-filter, .SEARCH_PAGE .product-filter { text-align:center;}
	.BRAND_PAGE .product-filter .sort, .SPECIAL_PAGE .product-filter .sort, .SEARCH_PAGE .product-filter .sort { float:none;}
	#content .product-grid-sm .grid-sm { margin:0 0 10px 0; width:100%;}
	#content .product-grid-sm .grid-sm h3 a  { font-size:16px; display:block;}
	#content .manufacturer-list { margin:0 0 10px 0; width:100%;}
	#content .box_search_criteria .left { float:none; padding:0; text-align:center;}
	#content .box_search_criteria p { text-align:left;}
	#content .box_search_criteria .mbut { min-width:10px;}
	#content .box_search_criteria input[type="text"], .box_search_criteria select { width:120px;}
	
	/* SITE MAP PAGE */
	.sitemap .left, .sitemap .right { margin:0; width:100%;}
	.list_info_site li a { display:block;}
	
	/* CONTACT PAGE */
	.location { width:100%;}
	.contact_form { margin:0; width:100%;}
	
	/* FOOTER */
	.footer .top_footer .contact_us { display:block; width:95%; margin:0; padding:0 2%;}
	.footer .top_footer .about_us { display:block; width:95%; margin:0; padding:0 2%;}
	.footer .top_footer .social_links { position:relative; right:0; margin:15px 0 0 0;}
	.footer .space .column { margin:0; width:100%;}
	.footer .space .column ul li a { width:100%;}
}